.explicacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.explicacao-titulo {
  justify-content: center;
  font-family: var(--fonte-primaria);
  font-size: 1.8rem;
  margin: 3rem auto 1rem auto;
}

.explicacao-titulo span {
  color: var(--cor-segundaria);
}

.explicacao-texto {
  color: var(--cor-primaria);
  font-family: var(--fonte-segundaria);
  text-align: left;
  font-size: 1rem;
  line-height: 1.45;
  margin: 12px auto;
  width: 350px;
}

.explicacao-texto span {
  color: var(--cor-segundaria);
}

@media (min-width: 1024px) {
  .explicacao {
    max-width: 1200px;
    border: 1px solid var(--cor-borda);
    border-radius: 20px;
    padding: 56px;
  }

  .explicacao-titulo {
    font-size: 2.4rem;
  }

  .explicacao-texto {
    width: 900px;
    font-size: 1.4rem;
    text-align: start;
  }

  .explicacao-texto span {
    font-weight: 700;
  }
}

@media (min-width: 1440px) {
  .explicacao {
    padding: 90px 10px;
  }
}
