.explicacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.explicacao-titulo {
  justify-content: center;
  font-family: var(--fonte-primaria);
  font-size: 30px;
  margin: 16px;
}

.explicacao-titulo span {
  color: var(--cor-segundaria);
}

.explicacao-texto {
  color: var(--cor-terciaria);
  font-family: var(--fonte-segundaria);
  text-align: left;
  font-size: 1rem;
  line-height: 1.45;
  margin: 12px auto;
  width: 350px;
}

.explicacao-texto span {
  color: var(--cor-segundaria);
}
