@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pliant:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #ffffff;
  --cor-segundaria: #ffc107;
  --cor-terciaria: #000000;
  --cor-quartearia: #2c2b2b;
  --cor-quintiaria: #0a0a0a;
  --cor-sextiaria: #c5c5c5;

  --fonte-primaria: "Archivo Black";
  --fonte-segundaria: "Montserrat";
  --fonte-terciaria: "Pliant";
}

body {
  background-color: black;
  color: var(--cor-primaria);
}

.logo {
  width: 100px;
}
