:root {
  --cor-primaria: #ffffff;
  --cor-segundaria: #ffc107;
  --cor-terciaria: #ffffff;

  --fonte-primaria: "Krona One";
  --fonte-segundaria: "Montserrat";
}

body {
  background-color: black;
}

.logo {
  width: 100px;
}
