@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pliant:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #ffffff;
  --cor-segundaria: #ffc107;
  --cor-terciaria: #ffffff;

  --fonte-primaria: "Krona One";
  --fonte-segundaria: "Montserrat";
  --fonte-terciaria: "Pliant";
}

body {
  background-color: black;
  color: var(--cor-primaria);
}

.logo {
  width: 100px;
}
