.problema {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.problema__conteudo {
  width: 80%;
  gap: 10px;
}

.problema__titulo {
  justify-content: center;
  font-family: var(--fonte-primaria);
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 14px;
  font-weight: 800;
}

.problema__titulo span {
  color: var(--cor-segundaria);
}

.problema__texto {
  font-family: var(--fonte-segundaria);
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 1rem;
}

.problema__texto span {
  color: var(--cor-segundaria);
}

.problema hr {
  width: 10rem;
  height: 4px;
  margin-top: 20px;
  background-color: var(--cor-segundaria);
  border: none;
}
