.problema {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.problema__conteudo {
  justify-content: center;
  align-items: center;
}

.problema__titulo {
  justify-content: center;
  text-align: center;
  font-family: var(--fonte-primaria);
  font-size: 1.7rem;
  margin: 3rem auto;
  padding: 0 20px;
}

.problema__titulo span {
  color: var(--cor-segundaria);
}

.problema__texto {
  color: var(--cor-primaria);
  font-family: var(--fonte-segundaria);
  text-align: left;
  font-size: 1rem;
  line-height: 1rem;
  margin: 16px auto;
  width: 80%;
}

.problema__texto span {
  color: var(--cor-segundaria);
}

@media (min-width: 1024px) {
  .problema {
    max-width: 900px;
    margin: 0 auto;
  }

  .problema__titulo {
    font-size: 2.4rem;
    max-width: 760px;
  }

  .problema__texto {
    width: 900px;
    font-size: 1.4rem;
    line-height: 1.65;
  }
}
@media (min-width: 1440px) {
  .problema {
    padding: 80px 10px;
  }
}
