.problema {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px auto;
  text-align: center;
  width: 100%;
}

.problema__titulo {
  justify-content: center;
  font-family: var(--fonte-primaria);
  font-size: 1.7rem;
  margin: 20px;
}

.problema__titulo span {
  color: var(--cor-segundaria);
}

.problema__texto {
  color: var(--cor-primaria);
  font-family: var(--fonte-segundaria);
  text-align: left;
  font-size: 1rem;
  line-height: 1rem;
  margin: 16px auto;
  width: 80%;
}

.problema__texto span {
  color: var(--cor-segundaria);
}

.problema hr {
  width: 10rem;
  height: 4px;
  margin-top: 20px;
  background-color: var(--cor-segundaria);
  border: none;
}

@media (min-width: 1024px) {
  .problema {
    max-width: 900px;
    margin: 0 auto;
    margin: 20px auto;
  }

  .problema__titulo {
    font-size: 2.4rem;
    max-width: 760px;
  }

  .problema__texto {
    width: 900px;
    font-size: 1.4rem;
    line-height: 1.65;
  }
}
