.sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.sobre-titulo {
  justify-content: center;
  font-family: var(--fonte-primaria);
  font-size: 1.8rem;
  margin: 2rem auto;
}

.sobre-titulo span {
  color: var(--cor-segundaria);
}

.sobre-texto {
  color: var(--cor-primaria);
  font-family: var(--fonte-segundaria);
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  margin: 12px auto;
  width: 320px;
}

@media (min-width: 768px) {
  .sobre-texto {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .sobre {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 40px;
  }

  .sobre-titulo {
    font-size: 2.4rem;
  }

  .sobre-texto {
    width: 700px;
    font-size: 1.4rem;
    line-height: 1.65;
    width: 800px;
  }
}

@media (min-width: 1440px) {
  .sobre {
    max-width: 1400px;
    padding: 90px 10px;
  }
}
